fastapi
uvicorn
python-multipart
sqlmodel
psycopg2-binary
python-dotenv
langchain
langchain-groq
langchain-core
langgraph
docker
sse-starlette
pandas
numpy
matplotlib
seaborn
scipy
statsmodels
scikit-learn